set -g status-left '#[fg={{accent_fg}},bg={{accent_bg}},bold] #S #[fg={{accent_bg}},bg={{status_bg}},nobold]'
set -g status-right '#[fg={{status_segment_bg}},bg={{status_bg}}]#[fg={{status_segment_fg}},bg={{status_segment_bg}}] #{T:@ukiyo_e_status_date}  #{T:@ukiyo_e_status_time} #[fg={{accent_bg}},bg={{status_segment_bg}}]#[fg={{accent_fg}},bg={{accent_bg}},bold] #H '
set -g window-status-format ' #I #W#F '
set -g window-status-current-format '#[fg={{status_bg}},bg={{window_current_bg}}]#[default] #I #W#F #[fg={{window_current_bg}},bg={{status_bg}}]'
set -g window-status-separator '#[fg={{window_separator_fg}},bg={{status_bg}}]'
