set -g status-style 'fg={{flat_text_fg}},bg={{flat_bar_bg}}'
set -g window-status-style 'fg={{flat_text_fg}},bg={{flat_bar_bg}}'
set -g window-status-current-style 'fg={{flat_current_fg}},bg={{flat_current_bg}}'
set -g status-left '#[fg={{flat_block_fg}},bg={{flat_block_bg}}] #S #[fg={{flat_separator_fg}},bg={{flat_bar_bg}}]|'
set -g status-right '#[fg={{flat_text_fg}},bg={{flat_bar_bg}}] #{T:@ukiyo_e_status_date} #{T:@ukiyo_e_status_time} #[fg={{flat_block_fg}},bg={{flat_block_bg}}] #H '
set -g window-status-format ' #I.#W '
set -g window-status-current-format ' #I.#W '
set -g window-status-separator '#[fg={{flat_separator_fg}},bg={{flat_bar_bg}}]|'
